@using Microsoft.AspNetCore.Components
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject ICategoriesService service

@if (categoriesList == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <h3 class="notification-list-heading"> Flokkar</h3>
    @foreach (var category in categoriesList)
    {   
        categorieCounter +=1;
        <div class="linkboxes">
            <div class="col-md-4 col-xs-6">
                <a href="/NotificationList/@category.CategoryId">
                <div class="boxes btn">
                    <a href="/NotificationList/@category.CategoryId" class="text-uppercase">@category.CategoryName</a>                    
                </div>
                </a>
            </div>
        </div>
    }
}

 @if (categorieCounter == 0)
    {
        <h5 class="empty-state"> Enginn flokkur hefur verið stofnaður. Hafðu samband við stjórnendur. </h5>
        <img src="Images/meditation-bw.png" class="mediationIMG" alt="Empty state">
    }

@code {
    List<Categories> categoriesList;
    int categorieCounter = 0;
    protected override async Task OnInitializedAsync()
    {
        //Fetch the list of categories from the database
        categoriesList = await service.Get();
    }
}
