<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3 class="text-center">Síða fannst ekki</h3>
                <p class="text-center">Því miður getum við ekki fundið síðuna sem þú baðst um</p>
                <a class="btn approve-btn btn-lg d-flex justify-content-center vert" href="/" role="button">Fara á forsíðu</a>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
