<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h5 style="text-align:center">Þessi síða er ekki til. Þú verður aftur á forsíðu innan skamms</h5>
                <meta http-equiv = "refresh" content = "3; url = /" />
                <img src="Images/meditation-bw.png" class="meditation-img" alt="Empty state">
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
