@inherits LayoutComponentBase

<div class="main">

    <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
        <a href="/makeAdmin"><h5>View users</h5></a>
        <a href="/create_notification"><h5>Create a new notification</h5></a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="login-logout">
        <AuthorizeView>
            <Authorized>
                <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link">Log out</button>
                </form>
            </Authorized>
            <NotAuthorized>
                <a class="navbar-actions" href="Identity/Account/Register">Register</a>
                <a class="navbar-actions" href="Identity/Account/Login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
        </div>
    </nav>
    </div>

    <div class="content px-4">
        @Body
    </div>
    
</div>