@import url('open-iconic/font/css/open-iconic-bootstrap.min.css'); 

:root{
    --one: #BFC0C0;

    --two: #ff7733;

    --three: #102542;
    
    --four: #ff5e6c;
    
    --five: rgb(96,103,110);
   
}

html, body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-color: var(--one);
    height: 100%;
}

.fa-lg{
    background-color: var(--two);
    color:var(--five)

}

/* Notification-List */
.card-list{
    background-color: var(--three);
    border-color: var(--two);
    color: white;
    height: 10rem;
    margin-bottom: 20px; 
    border-radius: 15px;
    margin-left: 10px;
}

.body-list{
    background-color: var(--two);
    border: solid 2px;
    border-color: var(--three);
    height: 0rem;
    
}
.title-list{
    text-align: center;
    line-height: 0 ;
}

.card-img-top{
    margin-top: 5px;
    margin-left: 5%;
    height: 60%;
    margin-bottom:10px;
    /* align-items: 75% right; */
    
}

.card-column{
    width: 25%;
    height:5%;
}

.addType{
    color: white;
    border-radius: 10px; 
    margin-bottom: 15px;
}

.mediationIMG{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.empty-state{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
    text-align: justify;
    border: 2px solid;
    padding: 10px;
    border-color: var(--two);
    /* background-color: var(--three);  */
    color:black;


}

/* Edit Notification */

#NewFormName {
    width: 50%;
}

.edit-notification {
    float: left;
    margin-top:20px;
}

#a-tag {
    color: #5e636b;
}

/* Navigation bar */
.navbar {
    background-color: var(--two);
    border-bottom: 3px solid var(--four);
    height: 80px;
}

.custom-toggler.navbar-toggler {
    margin-left: 23px;
}

.fa-bars{
    background-color: var(--two);
    margin:none;
    padding:none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(94,99,107,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown {
    margin-right: 13px;
 
}
.dropdown-content button:focus {
    background-color: #527d2e;
    color: white;
}

.oi-person {
    color: var(--five);
    font-size: 25px;
    top: 7px;
}

.logo{
    width: 75px;
    height: 75px;
}

.oi-person:hover {
    color: #527d2e;
}

/* Sidebar */

#sidebar a {
    font-weight: 500;
    font-size: 16px;
    color: #5e636b;
}


#sidebar a:hover {
    font-weight: bold;
    color: #527d2e;
}

.sidebar-content {
    padding-bottom: 20px;
}

/* Body */
.linkboxes .col-md-4 .boxes {
    background-color:var(--three);
    width: 100%;
    height: 100px;
    box-shadow: -1px 2px 3px #cecece;
    text-align: center;
    font-weight: 500;
    font-size: 20px;

}

.linkboxes .col-md-4 .boxes a {
    color: white;
    display: inline-block;
    margin-top: 27.5px;
    margin-left: 17px;
}

.linkboxes .col-md-4 .boxes a:hover {
    text-decoration: underline;
    color: #527d2e;
}

.linkboxes .col-md-4 .boxes:hover {
    text-decoration: underline;
}

.addCategory {
    color: white;
    border-radius: 10px;
}


.fa-plus-square{
    margin-right: 10px;
}


.linkboxes .col-md-4 {
    margin-bottom: 20px;
}

.col-xs-6 {
    width: 50%;
    float: left;
}

.indexPen{
    margin-bottom: -20px;
    padding: 5px;
    display:block;
    border: 2px solid;
    background-color: var(--two);
    border-color: var(--three);
    border-radius: 25px; 
    position: relative; 
}
.edit-icon {
    float: right;
    margin-right: -26px;
    margin-top: -10px;
    margin-bottom: none;
    color: #5e636b;

}

.edit-icon:hover {
    color: #527d2e;
}

.oi-plus {
    color: #527d2e;
    font-size: 25px;
    vertical-align: middle;
    top: -1px;
}

/* Notification creation page */

#creation-form {
    width: 65%;
    margin: 0 auto;
}

.textbox {
    width: 90%;
}

.question-wrapper {
    border: solid 1px;
    border-radius: 0.1cm;
    border-color: #ccd4dc;
    margin-left: 0;
    background-color: white;
    margin-right: -1px;
}

.option-wrapper {
    padding: 30px;
}

#question-box {
    height: 110px;
}

#question-name {
    width: 60%;
    margin: 15px;
}

#question-type {
    width: 25%;
    margin: 15px;
}

#question-name-validation {
    width: 60%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -15px;
}

#question-type-validation {
    width: 25%;
    margin-left: 15px;
    margin-top: -15px;
}

#save-icon {
    float: right;
    font-size: 25px;
    margin: 10px;
    color: #5e636b;
    border: solid;
    border-color: red;
}

#save-icon:hover {
    color: #527d2e;
}

#plus-icon {
    font-size: 15px;
    color: #527d2e;
}

#add-question-link {
    color: #527d2e;
}

#add-question-link:hover {
    text-decoration: underline;
}

#question-title {
    display: inline;
}

#title-edit {
    width: 91%;
    margin: 0;
    overflow: auto;
}

#i-pen {
    float: right;
    cursor: pointer;
    color: #5e636b;
}

#i-pen:hover {
    color: #527d2e;
}

#trash-icon {
    cursor: pointer;
    color: #5e636b;
}

#trash-icon:hover {
    color: #527d2e;
}

/* notification submit page */
.card{
    border: none;
    border-radius: none;
}

.sub-margin{
    margin-bottom: 10px;
}

.sub-container{
    background-color:white;
    margin:none;
    border: 1px solid #5e636b;

}

.submit-form{
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

/* dropdown menu */

/* .dropdown-toggle{
    background-color: var(--two);
    border: solid 2px b/lack;
    margin-left:7px; */
/* } */
.dropdown-toggle::after {
    display: none;
}

#firstdropdown{
    background-color: var(--two);
    margin:none;
    padding:none;

}

.dropdown{
    margin-left: 1%;
    background-color: var(--two);

}
.first-dropdown-wrapper{
    background-color: var(--two);
    color: var(--two);


}

.first-dropdown-wrapper .dropdown-menu {
    padding: none;
    border: none;
    margin-top: 0.5rem;
    background-color:transparent;
}

.first-dropdown-wrapper .dropdown-menu a:hover{
    background-color:#171a15;
}



.first-dropdown-wrapper .dropdown-item{
    color: white;
    border-bottom: solid #ccd4dc 0.3px;
    background-color: var(--five);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem
}

.second-dropdown-wrapper{
    padding: none;
    border: none;
}


.second-dropdown-wrapper .dropdown-item {
    color: white;
    border-bottom: solid #ccd4dc 0.3px;
    border-top: solid #ccd4dc 0.3px;
    background-color: var(--five);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin:none;
}

#username{
    color: white;
    border-bottom: solid #ccd4dc 0.3px;
    background-color: var(--five);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin:none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dropdown-menu.dropdown-menu-right{
    background-color: transparent;
    border:none;
}

.second-dropdown-wrapper a:hover {
    background-color:#171a15;
}


.second-dropdown-wrapper button:hover {
    background-color:#171a15
}

#username:hover {
    background-color:#171a15
}

.first-dropdown-wrapper .dropdown-menu :first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dropdown-menu :last-child{
    border-bottom:none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#firstdropdown{
    background-color: white;
    border: none;
}


.logOut{
    border-bottom:none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* noficationTable */

.table-striped {
    border: solid 2px;
    border-color: #5e636b;
 }

 .tableBody{
     background-color: white;
 }

.table-striped > tbody > tr > td {
    border-top: solid 0.5px #527d2e;
    border-bottom: solid 0.5px;
    border-color: #5e636b;
    vertical-align: middle;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #bad6a3;
}

#user-thead {
    background-color: #5e636b;
}

#user-thead > tr > th {
    border-color: #5e636b;
    color: white;
}

.table-striped > tbody > tr > td > button {
    width: 170px;
}

.sub-list-pen {
    float: right;
    color: #5e636b;
    margin-bottom: -20px;
    padding:5px;
    margin:none;
    display:block;
    border: 2px solid;
    background-color: var(--two);
    border-color: var(--three);
    border-radius: 25px; 
    position:relative;
 
}

.sub-list-trash {
    float: right;
    color:black;
    padding:5px;
    margin:none;
    display:block;
    border: 2px solid;
    background-color: red;
    border-color: var(--three);
    border-radius: 25px; 
    position:relative;
 
}

.table-trash{
    float: right;
    margin-left: -10px;
    margin-top: 25px;
    margin-bottom: none;
    color: #5e636b;
}

.table-icon{
    float: right;
    margin-left: -55px;
    margin-top: -10px;
    margin-bottom: none;
    color: #5e636b;
}

/* .indexPen{
    margin-bottom: -20px;
    padding: 5px;
    display:block;
    border: 2px solid;
    background-color: var(--two);
    border-color: var(--three);
    border-radius: 25px; 
    position: relative; 
}
.edit-icon {
    float: right;
    margin-right: -26px;
    margin-top: -10px;
    margin-bottom: none;
    color: #5e636b;

} */

.table-icon:hover {
    color: #527d2e;
}

/* Other */

.faded{
    opacity: 0.1;
}

#success-icon{
    color: white;
    height: 20px;
    width: 20px;
}

.search-button{
    color: black;
}

.searchUsers{
    margin-bottom: 1rem;
}

.up-down{
    margin: none;
    padding-top: none;
    color:white;
    height: 1.95rem;
}
.approve-btn {
    background-color: #527d2e;
    color: white;
}

.approve-btn:hover {
    background-color: #466b27;
    color: white;
}

.cancel-btn {
    background-color: #5e636b;
    color: white;
}

.cancel-btn:hover {
    background-color: #494d53;
    color: white;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    border: solid;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#login-button{
    padding-top: 1rem;
    text-align: center;
    
}
.addSpacing {
    margin-left: 5%;
  }

.modal-content{
    border: solid #527d2e ;
}

.modal-header h4{
    color: #527d2e;
      
 }

#ExceptionModal{
    color: red;
}

#modal-content-exception{
    border: solid red;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}