@page "/allar-innsendingar"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject IAdminService adminservice
@inject ISubmissionsService submissionservice
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime jsRuntime
@inject IMailService mailservice;

@* *** A table containing all submissions younger than 7 days old *** *@

<AuthorizeView Roles="Admin">
    <Authorized>
        @if (submissionList == null)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Augnablik...</span>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <h2>Allar innsendingar</h2>
                <table class="table table-striped table-md">
                    <thead id="user-thead">
                        <tr>
                            <th class="text-uppercase">Nafn eyðublaðs
                                <button class="btn up-down" @onclick="(() => SortFormName())"><i class="fas fa-sort-alpha-up"></i> </button>
                            </th>
                            <th class="text-uppercase">Notandi
                                <button class="btn up-down" @onclick="(() => SortUserEmail())"><i class="fas fa-sort-alpha-up"></i> </button>
                            </th>
                            <th class="text-uppercase">Innsent
                                <button class="btn up-down" @onclick="(() => SortDate())"><i class="fas fa-sort-alpha-up"></i> </button>
                            </th>
                            <th class="text-uppercase">Auðkenni
                                <button class="btn up-down" @onclick="(() => SortSubmissionId())"><i class="fas fa-sort-alpha-up"></i> </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        @foreach(var submission in submissionList)
                        {
                            if((GetAll(submission)) == true)
                            {
                                <tr>
                                    <td>@submission.Form.FormName</td>
                                    <td>@submission.Submission.UserId</td>
                                    <td>@submission.Submission.SubmissionDate.ToString("dd/MM/yy")</td>
                                    <td>@submission.Submission.SubmissionId</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </Authorized>
</AuthorizeView>
@code{
    List<Submissions> alreadyPosted = new List<Submissions>();
    List<Submissions> submissionList;
    private bool isSortedFormName = false;
    private bool isSortedUserEmail = false;
    private bool isSortedDate = false;
    private bool isSortedId = false;

    protected override async Task OnInitializedAsync()
    {
        submissionList = await submissionservice.Get();
    }
    public bool GetAll(Submissions s)
    {
        Submissions sub = alreadyPosted.Find(id => id.SubmissionId == s.SubmissionId);

        foreach(var submission in alreadyPosted)
        {
            if(s.SubmissionId == submission.SubmissionId)
            {
                return false;
            }
        }

        alreadyPosted.Add(s);
        return true;
    }

    // Sorts elements in table by the form name
    void SortFormName()
    {
        if(!isSortedFormName)
        {
            submissionList = submissionList.OrderBy(x => x.Form.FormName).ToList();
            isSortedFormName = true;
        }
        else
        {
            submissionList = submissionList.OrderByDescending(x => x.Form.FormName).ToList();
            isSortedFormName = false;
        }
        alreadyPosted = new List<Submissions>();
        StateHasChanged();
    }

    // Sorts elements in table by the user email
    void SortUserEmail()
    {
        if(!isSortedUserEmail)
        {
            submissionList = submissionList.OrderBy(x => x.Submission.UserId).ToList();
            isSortedUserEmail = true;
        }
        else
        {
            submissionList = submissionList.OrderByDescending(x => x.Submission.UserId).ToList();
            isSortedUserEmail = false;
        }
        alreadyPosted = new List<Submissions>();
        StateHasChanged();
    }

    // Sorts elements in table by the submission date
    void SortDate()
    {
        if(!isSortedDate)
        {
            submissionList = submissionList.OrderBy(x => x.Submission.SubmissionDate).ToList();
            isSortedDate = true;
        }
        else
        {
            submissionList = submissionList.OrderByDescending(x => x.Submission.SubmissionDate).ToList();
            isSortedDate = false;
        }
        alreadyPosted = new List<Submissions>();
        StateHasChanged();
    }

    // Sorts elements in table by the submission id
    void SortSubmissionId()
    {
        if(!isSortedId)
        {
            submissionList = submissionList.OrderBy(x => x.Submission.SubmissionId).ToList();
            isSortedId = true;
        }
        else
        {
            submissionList = submissionList.OrderByDescending(x => x.Submission.SubmissionId).ToList();
            isSortedId = false;
        }
        alreadyPosted = new List<Submissions>();
        StateHasChanged();
    }
}