@page "/counter"


<AuthorizeView Roles="Admin">
    <Authorized>
        <h1>Counter</h1>
        <p>You are an admin</p>
        <p>Current count: @currentCount</p>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        
        @for(int i = 0; i < currentCount; i++)
        {
            <p>Hello</p>
        }


    </Authorized>
    <NotAuthorized>
        You are not authorized to view this page!
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
