@page "/FormList/{id}"
@using BlazorSkraApp1.Components
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject NavigationManager NavigationManager
@inject ICategoriesAssignmentsService catAssignService
@inject IFormsInfoService formservice
@inject IJSRuntime jsRuntime
@inject ICategoriesService catService

@if (categoriesAssignmentsList == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Augnablik...</span>
        </div>
    </div>
}

else if(category == null) //no instance of form
{
    <h5 style="text-align:center">Þessi síða er ekki til. Þú verður aftur á forsíðu innan skamms</h5>
    <meta http-equiv = "refresh" content = "5; url = /" />
    <img src="Images/meditation-bw.png" class="mediationIMG" alt="noinstance">
}
else
{
    <div class="md-form mt-0 index-search">
        <input class="form-control" type="text" placeholder="Leita.." aria-label="Search" @bind-value='searchString' @bind-value:event="oninput" @onkeyup="NavigateToSearch">
        <a class="btn search-button"  href='/Search/@searchString'><i class="fas fa-search" title="Leita"></i> </a>
    </div>
    <div class="container">
        @if (categoriesAssignmentsList.Any())
        {
            <h3 class="form-list-heading"> @category.CategoryName</h3>
        }
        <AuthorizeView Roles="Admin">
        <div class="container">
        <button onclick="window.location.href='/FormCreation/@category.CategoryId'" class="btn btn-success add-type">
            <i class="far fa-plus-square"></i>
                Bæta við eyðublaði
        </button>
        </div>
        </AuthorizeView>
            <div class="row">
            @foreach (var categoryAssignment in categoriesAssignmentsList)
            {       
                
                <div class="col-md-4">
                    <AuthorizeView Roles="Admin">
                        <a href="FormEdit/@categoryAssignment.FormsInfo.FormId">
                            <button class="btn btn-link btn-xs table-icon" data-toggle="modal">
                                <i class="fas fa-pen sub-list-pen" title="Breyta eyðublaði"></i>
                            </button>
                        </a>
                        <button @onclick="(() => SelectCategoryAssignment(categoryAssignment))" class="btn btn-link btn-xs table-trash" data-toggle="modal" data-target="#confirmationModal">
                            <i class="fas fa-trash sub-list-trash" title="Eyða eyðublaði"></i>
                        </button>
                    </AuthorizeView> 
                <div class="card card-list" title="@categoryAssignment.FormsInfo.FormName">
                    <img src="Images/form.svg" class="card-img-top" alt="form form">
                    <div class="card-body body-list">
                        <h5 class="card-title title-list">@categoryAssignment.FormsInfo.FormName</h5>
                        <a href="/Form/@categoryAssignment.FormsInfo.FormId" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            }
            </div> 
             
            @if (!categoriesAssignmentsList.Any())
            // only displayed when there is no assignment in the category
            {
                 <AuthorizeView Roles="Admin">
                    <Authorized>
                        <h5 class="empty-state"> Það er ekkert eyðublað í þessum flokki. Bættu við eyðublaði með því að smella á <strong>"Bæta við eyðublaði</strong> uppi í vinstra horninu. </h5>
                    </Authorized>
                    <NotAuthorized> 
                        <h5 class="empty-state"> Það er ekkert eyðublað í þessum flokki. Vinsamlegast hafðu samband við stjórnanda ef þú telur vanta eyðublað í þennan flokk. </h5>
                    </NotAuthorized>
                </AuthorizeView>

                <img src="Images/meditation-bw.png" class="meditation-img" alt="Empty state">
               
            }
            
    </div>
   

    <ConfirmationModalComponent OnClick="DeleteFormHandler">
        <CustomHeader>Eyða eyðublaði</CustomHeader>
        <CustomBody>Ertu viss um að þú viljir eyða eyðublaðinu @(selectedCategoryAssignment.FormsInfo.FormName)?</CustomBody>
        <CustomButtonText>Eyða</CustomButtonText>
        <CustomCloseButtonText>Hætta við</CustomCloseButtonText>
    </ConfirmationModalComponent>
}

@code{
    [Parameter]
    public string id { get; set; }
    private int categoryId;
    List<CategoriesAssignments> categoriesAssignmentsList;
    Categories category = new Categories();
    CategoriesAssignments selectedCategoryAssignment;
    string searchString="";

    protected override async Task OnInitializedAsync()
    {
        //init selectedCategoryAssignment
        selectedCategoryAssignment = new CategoriesAssignments();
        selectedCategoryAssignment.FormsInfo = new FormsInfo();

        try
        {
            categoryId = Int16.Parse(id);
        }
        catch(Exception)
        {
            // if parameter sent by route is not convertable to int
            category = null;
        }
        //Get info about the category
        category = await catService.Get(categoryId);

        //Get a list of forms assigned to the relevant category
        categoriesAssignmentsList = await catAssignService.Get(categoryId);

    }
    private void SelectCategoryAssignment(CategoriesAssignments categoryassignment)
    {
        try 
        {
            selectedCategoryAssignment = categoryassignment;
        }
        catch(Exception)
        {}
    }

    protected async void DeleteFormHandler()
    {
        //Remove the form/form from the list of forms in this category
        await catAssignService.Delete(selectedCategoryAssignment);

        //Delete the form/form from the database
        await formservice.Delete(selectedCategoryAssignment.FormId);

        //remove the form/form from the list on this page
        categoriesAssignmentsList.Remove(selectedCategoryAssignment);

        //refresh UI
        StateHasChanged();
    }

    private void NavigateToSearch(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "Enter" )
        {
            var Search = "Search/" + searchString;
            NavigationManager.NavigateTo(Search);
        }
    }
}