@page "/"

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Öryggismál</h5>
        <p class="card-text">Ýmsir flokkar sem tengjast öryggismálum.</p>
        <a href="#" class="btn btn-primary">Tilkynna mál</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Mannauðsmál</h5>
        <p class="card-text">Ýmsir þættir sem hafa eitthvað með mannauðsmál að gera.</p>
        <a href="#" class="btn btn-primary">Tilkynna mál</a>
      </div>
    </div>
  </div>
</div>
<button class="btn" @onclick="AddCategory">Bæta við flokk</button>
<br/>

@if(showPopup)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Bæta við nýjum flokk</h4>
                            <button type="button" class="close" @onclick="Cancel">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="text"
                                   placeholder="Nafn flokks"/>
                            <br />
                            <button class="btn">Vista</button>
                            <button class="btn" @onclick="Cancel">Hætta við</button>
                        </div>
                    </div>
                </div>
            </div>
    }

@code{
    bool showPopup = false;
    void AddCategory()
    {
        showPopup = true;
    }
    void Cancel()
    {
        showPopup = false;
    }
    
}