@page "/"
@using BlazorSkraApp1.Components
@inject NavigationManager NavigationManager

@* *** The home page, lists all categories created by admins *** *@

<!-- Search form -->
<div class="md-form mt-0 index-search">
    <input class="form-control" type="text" placeholder="Leita.." aria-label="Search" @bind-value='searchString' @bind-value:event="oninput" @onkeyup="NavigateToSearch">
    <a class="btn search-button"  href='/Search/@searchString'>
        <i class="fas fa-search" title="Leita"></i>
    </a>
</div>

<CategoryViewComponent></CategoryViewComponent>

<div class="index-padding"></div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    string searchString = "";

    protected override async Task OnInitializedAsync()
    {
        //If a user is not logged in he gets rerouted to the login page
        var authenticationState = await AuthenticationStateTask;
        if (authenticationState?.User?.Identity is null || !authenticationState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
    }

    private void NavigateToSearch( KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "Enter" )
        {
            var Search = "Search/" + searchString;
            NavigationManager.NavigateTo(Search);
        }
    }
}
