@page "/"

<h1>There´s a lot more to life than being really, ridiculously good loooking!</h1>

<p>Hopefully we can find out what it is using this brand new @appname.</p>

<p>Goodbye world</p>

@code{
    string appname = "BlazorSkraApp";
}
