@page "/"

<div id="all-notifications-index">
    <div class="notification-index">
        <h2 class="notification-name"> Öryggistilkynning </h2>
    </div>

    <div class="notification-index">
        <h2 class="notification-name"> Mannauðsmál </h2>
    </div>

    <div class="notification-index">
        <h2 class="notification-name"> Óviðeigandi hegðun </h2>
    </div>
</div>

@code{
    string appname = "BlazorSkraApp";
}