@page "/"
@using BlazorSkraApp1.Components
@inject NavigationManager NavigationManager

<!-- Search form -->
<div class="md-form mt-0 index-search">
  <input class="form-control" type="text" placeholder="Search" aria-label="Search" @bind='searchString'>
   <a class="btn search-button"  href='/Search/@searchString'><i class="fas fa-search"></i> </a>
</div>

<CategoryViewComponent></CategoryViewComponent>

<div class="index-padding"></div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    string searchString="";

    protected override async Task OnInitializedAsync()
    {
        //If a user is not logged in he gets rerouted to the login page
        var authenticationState = await AuthenticationStateTask;
        if (authenticationState?.User?.Identity is null || !authenticationState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
    }
}
