@page "/"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject ICategoriesService service
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager

<head>
  <link ref="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
</head>

@if (categoriesList == null)
{
    <p><em>Loading...</em></p>
}
else
{

  @foreach (var category in categoriesList)
  {
    <div class="linkboxes">
      <div class="col-md-4 col-xs-6">
        <button class="boxes btn text-uppercase" @onclick="NotificationList">@category.CategoryName</button>
      </div>
    </div>
  }

<AuthorizeView>
<Authorized>
  <div class="linkboxes">
      <div class="col-md-4 col-xs-6">
        <button class="add-category-link boxes btn text-uppercase" @onclick="AddCategory">
            <span class="oi oi-plus"></span> Búa til flokk
        </button>
      </div>
    </div>
</Authorized>
</AuthorizeView>
  <br/>

  @if(showPopup)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Bæta við nýjum flokk</h4>
                            <button type="button" class="close" @onclick="Cancel">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="text"
                                    placeholder="Nafn flokks"/>
                            <br />
                            <button class="btn">Vista</button>
                            <button class="btn" @onclick="Cancel">Hætta við</button>
                        </div>
                    </div>
                </div>
            </div>
    }
  }
@code{

    List<Categories> categoriesList;
    Categories taskObject = new Categories();
    protected override async Task OnInitializedAsync()
    {
        categoriesList = await service.Get();
    }
    bool showPopup = false;
    void AddCategory()
    {
        showPopup = true;
    }
    void Cancel()
    {
        showPopup = false;
    }

    void NotificationList()
    {
      NavigationManager.NavigateTo("/list");
    }
}