<h3>Instructions</h3>


<img src="Images/meditation-bw.png" class="mediationIMG" alt="Empty state">
<AuthorizeView Roles="Admin">
    <Authorized>
        <h5 class="empty-state"> Það er engin tilkynning í þessum flokki. Bættu við tilkynningu með því að smella á "bæta við tilkynningu" upp í vinstra horninu. </h5>
        <img src="Images/Instructions/win-task-scheduler-general.png" class="mediationIMG" alt="Empty state">
        <img src="Images/Instructions/win-task-scheduler-action.png" class="mediationIMG" alt="Empty state">
    </Authorized>
    @code {

    }
