@page "/CreateNotification"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject IOptionsQuestionAssignmnentsService oqaservice
@inject IQuestionsFormAssignmentService qfaservice
@inject IQuestionsService qservice
@inject IOptionsService opservice
@inject ICategoriesService catservice
@inject IJSRuntime jsRuntime

    <form id="creation-form">
        <h1>Ný tegund tilkynningar</h1>
        <div class="form-group row">
            <label for="categories" class="col-sm-2 col-form-label">Flokkur</label>
            <div class="col-sm-10">
                <select id="categories" class="form-control">
                    <!-- Breyta þannig að það komi sjálfkrafa flokkurinn sem notandi kom úr -->
                    <!-- Pæling að hafa "Búa til nýjan flokk" valkost í þessum dropdown glugga líka -->
                    <option>Veldu flokk</option>
                    @if(categories == null){
                        <option>loading...</option>
                    }
                    else{
                    foreach (var category in categories)
                    {
                        <option>@category.CategoryName</option>
                    }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Heiti tilkynningar</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Heiti tilkynningar" name="categoryAssignmentName">
            </div>
        </div>
        @for(int i = 0; i < questionCount; i++)
        {
            <div class="form-group row form-inline" id="question-box">
                <input type="text" class="form-control" id="question-name" placeholder="Titill efnis">
                <select id="question-type" class="form-control">
                    <option>Veldu tegund</option>
                    <option id="text-box">Textabox</option>
                    <option id="multiple">Fjölval</option>
                    <option id="radio">Eitt val</option>
                    <option id="date">Dagsetning</option>
                </select>
                <a @onclick="SaveQuestion">
                    <i class="fas fa-save question-icons"></i>
                </a>
                <a @onclick="DeleteQuestion">
                    <i class="fas fa-trash-alt question-icons"></i>
                </a>
            </div>
        }
        <div class="form-group row">
            <div class="col-sm-10">
                <span id="plus-icon" class="oi oi-plus"></span>
                <a id="add-question-link" @onclick="CreateNewQuestion">Bæta við breytu</a>
            </div>
        </div>
        <button class="btn btn-secondary">Vista form</button>
    </form>

@code {
    public int categoryId {get; set;}
    public string categoryAssignmentName {get; set;}
    public string questionName {get; set;}
    public string optionType {get; set;}
    public List<string> options {get; set;}
    
    List<Categories> categories;
    CategoriesAssignments currentassignment = new CategoriesAssignments();
    Questions currentquestion = new Questions();
    Options currentoption = new Options();

    protected override async Task OnInitializedAsync()
    {
        categories = await catservice.Get();
    }

    private int questionCount = 0;
    private void CreateNewQuestion()
    {
        questionCount++;
    }

    private void DeleteQuestion()
    {
        questionCount--;
    }

    private void SaveQuestion()
    {
        // TO DO
    }
}