@page "/NotificationList/{id}"
@using BlazorSkraApp1.Components
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject ICategoriesAssignmentsService catAssignService
@inject IFormsInfoService formservice
@inject IJSRuntime jsRuntime
@inject ICategoriesService catService

@if (categoriesAssignmentsList == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="container">
        <h2>@category.CategoryName</h2>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nafn tilkynningar</th>
                    <AuthorizeView Roles="Admin">
                        <th>Stofnandi</th>
                        <th style="width: 1%">Stofndags</th>

                        <th style="width: 5%"></th>
                        <th style="width: 5%"></th>
                    </AuthorizeView>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoryAssignment in categoriesAssignmentsList)
                {
                    <tr>
                        <td onclick="location.href='/Notification/@categoryAssignment.FormsInfo.FormId'"> @categoryAssignment.FormsInfo.FormName</td>
                        <AuthorizeView Roles="Admin">
                            <td>Nafn stofnanda</td>
                            <td>24.12.2019</td>
                            <td>
                                <button class="btn btn-link btn-xs table-icon" data-toggle="modal">
                                    <a id="a-tag" href="EditNotification/@categoryAssignment.FormsInfo.FormId">
                                        <i class="fas fa-pen" title="Modifier"></i>
                                    </a>
                                </button>
                            </td>
                            <td>
                                <button @onclick="(() => SelectCategoryAssignment(categoryAssignment))" class="btn btn-link btn-xs table-icon" data-toggle="modal" data-target="#confirmationModal">
                                    <i class="fas fa-trash" title="Modifier"></i>
                                </button>
                            </td>
                        </AuthorizeView>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <AuthorizeView Roles="Admin">
        <div class="container">
            <span id="plus-icon" class="oi oi-plus"></span>
            <a id="add-question-link" href="/CreateNotification">Bæta við tilkynningu</a>
        </div>
    </AuthorizeView>

    <ConfirmationModalComponent OnClick="DeleteNotificationHandler">
        <CustomHeader>Eyða tilkynningu</CustomHeader>
        <CustomBody>Ertu viss um að þú viljir eyða tilkynningunni @(selectedCategoryAssignment.FormsInfo.FormName)?</CustomBody>
        <CustomButtonText>Eyða</CustomButtonText>
    </ConfirmationModalComponent>
}

@code{
    [Parameter]
    public string id { get; set; }
    private int categoryId;
    List<CategoriesAssignments> categoriesAssignmentsList;
    Categories category = new Categories();
    CategoriesAssignments selectedCategoryAssignment;

    protected override async Task OnInitializedAsync()
    {
        //init selectedCategoryAssignment
        selectedCategoryAssignment = new CategoriesAssignments();
        selectedCategoryAssignment.FormsInfo = new FormsInfo();

        categoryId = Int16.Parse(id);

        //Get info about the category
        category = await catService.Get(categoryId);

        //Get a list of notifications assigned to the relevant category
        categoriesAssignmentsList = await catAssignService.Get(categoryId);

    }
    private void SelectCategoryAssignment(CategoriesAssignments categoryassignment)
    {
        selectedCategoryAssignment = categoryassignment;
    }

    protected async void DeleteNotificationHandler()
    {
        //Remove the notification/form from the list of notifications in this category
        await catAssignService.Delete(selectedCategoryAssignment);

        //Delete the notification/form from the database
        await formservice.Delete(selectedCategoryAssignment.FormId);

        //remove the notification/form from the list on this page
        categoriesAssignmentsList.Remove(selectedCategoryAssignment);
    }
}