@page "/Notification/{id}"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject IFormsService service
@inject IJSRuntime jsRuntime

@if (QuestionsList == null)
{
    <p><em>Loading...</em></p>
}
else
{

    @foreach (var question in QuestionsList)
    {
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">@question.Questions.QuestionName</h5>
            </div>
        </div>
    }
}

@code{
    [Parameter]
    public string id{ get; set; }

    List<Forms> QuestionsList;
    Forms question = new Forms();
    
    protected override async Task OnInitializedAsync()
    {
        var FormId = Int16.Parse(id);
        QuestionsList = await service.Get(FormId);
    }

}