@page "/Notification/{id}"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject IFormsService service
@inject IJSRuntime jsRuntime

@if (questionsList == null)
{
    <p><em>Loading...</em></p>
}
else
{

    @foreach(var question in questionsList.Where(question => question.QuestionOrderNum == 1))
    {
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">@question.Questions.QuestionName</h5>
            <p>@question.Questions.QuestionTypes.QuestionTypeName</p>
            <p>@question.QuestionOptions.OptionName</p>
            </div>
        </div>
    }
}

@code{
    [Parameter]
    public string id{ get; set; }

    List<Forms> questionsList;
    Forms question = new Forms();
    
    protected override async Task OnInitializedAsync()
    {
        var FormId = Int16.Parse(id);
        questionsList = await service.Get(FormId);
    }

}