@page "/makeAdmin"
@using BlazorSkraApp1.Data
@using Microsoft.AspNetCore.Components
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Threading.Tasks

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nafn</th>
            <th>Netfang</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var account in accounts)
        {
            <tr>
                <th>Test</th>
                <th>@account.Email</th>
                <th><input type="checkbox"></th>
            </tr>
        }
    </tbody>
</table>

@code {
    
    protected AccountService accountService;
    protected List<Account> accounts = new List<Account>();
    protected Account acc = new Account();

    protected override async Task OnInitializedAsync()
    {
        await GetAccount();
    }
    protected async Task GetAccount()
    {
        accounts = await accountService.GetAccountList();
    }
}